@tailwind base;
@tailwind components;
@tailwind utilities;

.js__bg-image {
    background-image: url('/banner6.svg');
    background-size: cover;
}

.text-primary {
    color: #5F49F2;
}

.bg-primary {
    background-color: #5F49F2;
}

border-primary {
    border-color: #5F49F2;
}

.js__bg-img-2{
    /* background-image: url('/bg.svg'); */
    background-color: #fde80e;
    background-size: cover;
}

.js__bg-img-3 {
    background-image: url('/bg6.svg');
    background-size: cover;
}
